<div id="addManufacturerComponent" class="center-block">
    <form [formGroup]="addManufacturerForm"
          (ngSubmit)="onSubmit(addManufacturerForm.value)">
        <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text"
                   class="form-control"
                   id="exampleInputName1"
                   placeholder="Name"
                   [formControl]="addManufacturerForm.controls['ManufacturerName']">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">WebSite</label>
            <input type="text"
                   class="form-control"
                   id="exampleInputName2"
                   placeholder="WebSite"
                   [formControl]="addManufacturerForm.controls['ManufacturerWebSite']">
        </div>
        <button type="button" class="btn btn-primary pull-left" (click)="goToManufacturer()">Back</button>
        <button type="submit" class="btn btn-default pull-right">Add</button>
    </form>
</div>